$secondaire: #3e83dccb;
$fond: #0b0447;
$font: rgb(240, 237, 232);
$policeP: Arial, Helvetica, sans-serif;

body{
 
    background-color: $fond;
    font-family: $policeP;
}

.details{
    margin-bottom: 180px !important;
  } 

.cat{
    
    color: $font;
   padding-top: 200px;
 
}
.image-detail{
    width: 100%;
    height: 100%;
}

.caro{
   
    margin-top: 150px;
}


.bio{
    margin-top: 50px;
}



@media only screen and (max-width: 600px) {

    .caro{
   padding-bottom: 250px ;
    }

    .details{
      margin-bottom: -50px !important;
    }
  
 
    h1.my-3.mx-5 {
      margin: 0 !important;
      width: 100%;
      text-align: center;
    }
    .iframe {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: 999999;
      background-color: rgba(0, 0, 0, 0.624);
    }
  }