.rated{
    margin-top: 265px;
    display: inline-flex;
    font-size: 15px;
}



.sc-gsnTZi.guIbWC.rec.rec-item-wrapper{
    width: 500px;
}
.image3 img{

height: 300px; 
width: 190px;
}


